.moviepage{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: rgb(27, 25, 25);
    padding: 100px;
    border-radius: 50px;
    margin-top: -40px;

    .backdrop{
        margin-top: -50px;
        margin-bottom: 10px;
        margin-right: 50px;
        border: 3px solid white;
        border-radius: 20px;
        width: 300px;
    }
    .tagline{
        max-width: 300px;
        font-size: x-large;
    }
    .info{

        .title{
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
        }
    }
    h1{
        max-width: 60ch;
    }
    p{
        max-width: 80ch;
    }
}
    