.navbar{
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    margin: 0px;
    padding:0px;
    margin-bottom: 100px;

    .title{
        margin-left: 120px
    }

    .navlinks{
        height: 100%;


        ul{
            display: flex;
            align-items: center;
            list-style: none;
            height: 100%;
            font-size: 20px;
    
            li{
                background-color: rgb(34, 33, 33);
               

                .link{
                    padding: 29px 20px;
                    text-decoration: none;
                    color: white;
                    
                    &:hover{
                        background-color: rgb(55, 121, 55);
                    }

                }


                .activelink{
                    background-color: rgb(58, 145, 58);
                }
            }
        }
    }
   
}